<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >

    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.datetimepicker.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#datetimepicker').datetimepicker().datetimepicker({value:"<%= Time.now.strftime('%Y/%m/%d %H:%M') %>"});
      });
    </script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/jscripts.js"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
    </script>
  </head>

  <body>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <button type="button" onclick="drawChart()">Refresh</button>


    <input id="datetimepicker" type="text" >

  </body>

</html>
