<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
<!--    <link rel="stylesheet" type="text/css" href="/site.css">
    <link rel="stylesheet" type="text/css" href="/anytime.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/anytime.js"></script>
    <script type="text/javascript" src="/anytimetz.js"></script>-->
                  
<!--    <script type="text/javascript">
    $(function(){
        $('#timeselect').AnyTime_picker( 
          { format: "%H:%i" } );
        $('#datetimeselect').AnyTime_picker( 
          { format: "%Z-%m-%d %H:%i" } );
    });
    </script>
    -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/jscripts.js"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
    </script>
  </head>

  <body>
  
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <p id="demo"></p>

<!--     <button type="button" onclick="httpGet()">Try it</button> -->
    <button type="button" onclick="drawChart()">Refresh</button>

<!--    <form action="/about">
      date and time: <input id="datetimeselect" type="text" />
      <input type="submit" value="about">
    </form> -->

  </body>
  
</html>